# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
output/
*.bak
*-bak
*.pyc
archives/**/
build_*_time.txt
build_*.err
unzip_all.err
/bin
/lib

conf/output/

